{% extends "base.html" %}
{% block body %}
<h1 style="padding-top: 40px; text-align: center">{%if no_tachanun %}No Tachanun today!{% else %}There is Tachanun today.{% endif %}</h1>
<div style="padding-top: 10px; max-width: 50%; min-width: 400px; margin: auto">
    <div class="card">
        <div class="card-body">
            <p>Today's Gregorian Date: {{date}}</p>
            <p>Today's Hebrew Date: {{hebrew_date}} / {{hebrew_date_hebrew}}</p>
            {%if no_tachanun %}
            <p>No tachnun today because {{hebrew_date}} is {{reason}}.</p>
            {% endif %}

            <p>Pick another date:</p>
            <form method="GET" action="/">
                <div class="form-row align-items-center">
                    <div class="col-auto">
                        <input type="date" class="form-control" name="g_date" value="{{date_placeholder}}" required>
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary">Go!</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}