{% extends "base.html" %}
{% block body %}
<h1 style="padding-top: 40px; text-align: center">{%if no_tachanun %}No Tachanun today!{% else %}There is Tachanun today.{% endif %}</h1>
{% if subtitle %}<h3 style="text-align: center">{{subtitle}}</h3>{% endif %}
<div style="padding-top: 10px; max-width: 50%; min-width: 400px; margin: auto">
    <div class="card">
        <div class="card-body">
            <p>Today's Gregorian Date: {{date}} {%if source %}<span style="float: right"><a href="{{source}}" target="_blank">מהיכא תיתי</a></span>{% endif %}</p>
            <p>Today's Hebrew Date: {{hebrew_date}} / {{hebrew_date_hebrew}}</p>
            {%if no_tachanun or mincha %}
            <p>No tachnun {% if mincha %}at mincha because tomorrow{% else %}today because {{hebrew_date}}{% endif %} is {{reason}}.</p>
            {% endif %}

            <p>Pick another date:</p>
            <form method="GET" action="/">
                <div class="form-row align-items-center">
                    <div class="col-auto">
                        <input type="date" class="form-control" name="g_date" value="{{date_placeholder}}" required>
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary">Go!</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}