{% extends "base.html" %}
{% block body %}
<h1 style="padding-top: 40px; text-align: center">{%if no_tachanun %}No Tachanun today!{% else %}There is Tachanun today.{% endif %}</h1>
{% if subtitle %}<h3 style="text-align: center">{{subtitle}}</h3>{% endif %}

<div style="padding-top: 10px; max-width: 50%; min-width: 400px; margin: auto">
    {% if error %}
    <div class="alert alert-danger" role="alert">
        {{error}}
    </div>
    {% endif %}
    <div class="card">
        <div class="card-body">
            <p>Today's Gregorian Date: {{date}} {%if source %}<span style="float: right"><a href="{{source}}" target="_blank">מהיכא תיתי</a></span>{% endif %}</p>
            <p>Today's Hebrew Date: {{hebrew_date}} / {{hebrew_date_hebrew}}</p>
            {%if no_tachanun or mincha %}
            <p>No tachnun {% if mincha %}at mincha because tomorrow{% else %}today because {{hebrew_date}}{% endif %} is {{reason}}.</p>
            {% endif %}

            <p>Pick another date:</p>
            <div class="container">
                <form method="GET" action="/">
                    <div class="form-row align-items-center">
                        <div class="form-group col-auto">
                            <input type="date" class="form-control" name="g_date" value="{{date_placeholder}}" required>
                        </div>
                        <div class="form-group col-auto">
                            <button type="submit" class="btn btn-primary">Go!</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="container">
                <form method="GET" action="/">
                    <div class="form-row align-items-center">
                        <div class="col-md-2 form-group">
                            <input type="number" class="form-control" id="h_day" name="h_day" min="1" value="{{h_day}}" required>
                        </div>
                        <div class="col-md-3 form-group">
                            <select id="h_month" class="form-control" name="h_month"></select>
                        </div>
                        <div class="col-auto form-group">
                            <input id="h_year" type="number" class="form-control" name="h_year" max="6000" min="5000" value="{{h_year}}" required>
                        </div>
                        <div class="col-auto form-group">
                            <button type="submit" class="btn btn-primary">Go!</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    function populateMonths(year, val) {
        $.get(`/get_months/${year}`, (months) => {
            max = months.length

            if (val > max)
                val = max

            i = 7
            $("#h_month").empty()
            for (month of months) {
                $("#h_month").append(`<option value=${i}>${month}</option>`)
                i = (i % max) + 1
            }
            $(`option[value=${val}]`).prop("selected", true)    
        })
    }

    function maxDays(year, month) {
        $.get(`/get_days/${year}-${month}`, (days) => {
            $("#h_day").prop("max", days)
            if ($("#h_day").val() > days)
                $("#h_day").val(days)
        })
    }

    $(function() {
        month = parseInt("{{h_month}}")
        populateMonths($("#h_year").val(), month)
        maxDays($("#h_year").val(), month)

        $("#h_year").change((e) => {
            populateMonths($("#h_year").val(), $("#h_month").val())
            maxDays($("#h_year").val(), $("#h_month").val())
        })
        $("#h_month").change((e) => maxDays($("#h_year").val(), $("#h_month").val()))
    })
</script>
{% endblock %}